@import "app.css";

.sports-list{
    margin-top: 30px;
    .sports-list__inner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        .sports-list__inner__item{
            .sports-list__inner__item__link{
                text-decoration: none;
                overflow: hidden;
                display: block;
                .sports-list__inner__item__link__img{
                    overflow: hidden;
                    img{
                        width:100%;
                        display: flex;
                        transition:.2s transform;
                    }
                }

            }

            .sports-list__inner__item__link__title{
                background-color: rgb(255,255,255);
                padding:10px 15px;
                transition:.2s background-color, .2s color;
            }

            &:hover{
                img{
                    transform:scale(1.05);
                }
                .sports-list__inner__item__link__title{
                    background-color: var(--bg-hover);
                    color:rgb(255,255,255);
                }
            }
        }
    }
}